-
  const plansItems = [
    { period: '3 year',   price: '$2.99',   saving: 'Save 75%', oldPrice: '$430.20 ', yearly: '$107.55 billed every 3 years', active: true, best: true  },
    { period: '2 year',   price: '$3.99',   saving: 'Save 66%', oldPrice: '$286.80 ', yearly: '$95.75 billed every 2 years'                             },
    { period: '1 year',   price: '$6.99',   saving: 'Save 41%', oldPrice: '$143.40 ', yearly: '$83.88 billed every year'                                },
    { period: '1 month',  price: '$11.95',  saving: 'Save 0%',  oldPrice: '',         yearly: '$11.95 billed every month'                               }
  ]

  const planPromoText = 'FUI: The 3-year plan includes the biggest savings and is fully refundable for 30 days.';

form.plans.four
  each plan in plansItems
    label.plan(class= plan.active ? 'active' : '')
      input.plan__input(type='radio', name='plans')
      div.plan__content
        if plan.best
          span.plan__label Best deal
        span.plan__checkbox
        span.plan__period= plan.period
        span.plan__price= plan.price
        span.plan__month per month
        span.plan__discount= plan.saving
        span.plan__details
          if plan.oldPrice
            span.plan__oldPrice= plan.oldPrice
          span.plan__yearly= plan.yearly
        span.plan__promoText(class= plan.best ? 'best' : '')= planPromoText
